* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Megrim', cursive;
}

header , main {
  margin: auto;
}


h1 {
  font-family: 'Megrim', cursive;
  font-size: 35px;
  text-align: center;
  color: rgb(65, 34, 52);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-top: 150px;
  text-decoration: underline overline rgb(65, 34, 52);
}



.start-page {
  padding-top: 80px;
  margin: auto;
  text-align: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 100vh;
}



p {
  font-size: 25px;
  color: rgb(65, 34, 52);
  text-align: center;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-top: 40px;
}

.start {
  box-shadow: 3px 4px 0px 0px rgb(234, 215, 215);
  background-color:#f5f3f4;
  border-radius:15px;
  border:1px solid rgb(109, 70, 107);
  display:inline-block;
  cursor:pointer;
  color:  rgb(109, 70, 107);
  text-decoration:none;
  margin: auto; 
  display:flex;
  justify-content: center;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-top: 40px;
  font-size: 20px;
}



.board {
  box-shadow: 3px 4px 0px 0px rgb(156, 56, 72);
  background-color:transparent;
  border:1px solid rgb(109, 70, 107);
  font-size: 25px;
  margin-bottom: 20px; 
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


form {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  color: black;
  font-size: 15px;
  padding-top:100px;
}

.formQ {
  text-decoration: underline overline rgb(65, 34, 52);
  font-family: 'Megrim', cursive;
  font-size: 25px;
  margin: auto;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff
}

.radio {
  margin-bottom: 30px;
}

fieldset {
  border: 0;
  background-color: rgba(255,255,255, .6);
  font-family: 'Baloo Da 2', cursive;
  font-weight: 600;
}

/* Hide the browser's default radio button */
.container input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiobtn {
  top: 0;
  left: 0;
  height: 15px;
  width: 40px;
  border-radius: 50%;
  color: rgb(65, 34, 52);
  margin-top: 15px;
}


.question {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
}

.checkme {
  box-shadow: 3px 4px 0px 0px rgb(156, 56, 72);
  background-color:transparent;
  border-radius:15px;
  border:1px solid rgb(109, 70, 107);
  display:inline-block;
  cursor:pointer;
  color:  rgb(87, 52, 80);
  font-weight:400;
  font-size:17px;
  text-decoration:none;
  margin: auto; 
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}


.correct, .wrong {
  text-align: center;
  color:rgb(109, 70, 107);
}


.wrong {
  padding-top: 175px;
  font-size: 20px;
  background-image: url(images/wrong.png);
  background-size: 200px;
  background-position: top;
  background-color:rgb(255, 255, 255);
  background-repeat: no-repeat;
  margin: 30px;
}

.correct {
  padding-top: 140px;
  font-size: 30px;
  background-image: url(images/correct.jpg);
  background-size: 200px;
  background-position: top;
  background-color:rgb(255, 255, 255);
  background-repeat: no-repeat;
}

.nextQ {
  box-shadow: 3px 4px 0px 0px rgb(234, 215, 215);
  background-color:transparent;
  border-radius:15px;
  border:1px solid rgb(109, 70, 107);
  display:inline-block;
  cursor:pointer;
  color:  rgb(109, 70, 107);
  text-decoration:none;
  margin: auto; 
  display:flex;
  justify-content: center;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-top: 15px;
  font-size: 20px;
}

.finalscore {
  background-color:transparent;
  cursor:pointer;
  color:  rgb(109, 70, 107);
  text-align: center;
  margin: auto; 
  display: none;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}



header { 
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
  

label {
  display: block;
}



.startOver {
  box-shadow: 3px 4px 0px 0px rgb(234, 215, 215);
  background-color:transparent;
  border-radius:15px;
  border:1px solid rgb(109, 70, 107);
  display:inline-block;
  cursor:pointer;
  color:  rgb(109, 70, 107);
  text-decoration:none;
  margin: auto; 
  display:flex;
  justify-content: center;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  margin-top: 15px;
  font-size: 20px;
}
   

  
@media only screen and (min-width: 760px) {
  h1 { 
    font-size: 48px;
  }
  .start-page, .question {
    margin-top: 19px;
  }

  .start-page {
    width: 70%;
    margin: auto;
    height: 100vh;
    /* view port 100% */
  }

  form {
    padding-top: 300px;
    font-size: 25px;
    width: 600px;
  }

  .formQ {
    font-size: 30px;
    text-align: center;
    width: 600px;
    padding-top: 80px;
  }

  .radio {
    margin-bottom: 30px;
  }

  .board {
    width: 700px;
    font-size: 30px;
    margin-bottom: 30px;
  }

  h1 {
    padding-top:150px;
  }

  .checkme {
    font-size: 25px;
    margin-top: 30px;
  }

  .correct, .wrong {
    font-size: 45px;
    text-align: center;
    margin-left:-30px;
  }

  .nextQ {
    font-size: 30px;
  }

  .finalscore {
    margin-left: 80px;
    margin-top: 100px;

  }
}

@media only screen and (min-width: 1024px) {
  h1 { 
    font-size: 70px;
  }

  p {
    font-size: 40px;
  }

  .start-page, .question {
    margin-top: 40px;
  }

  .start{
    font-size: 30px;
  }

  .board {
    width: 60%;
    font-size: 30px;
    margin: auto;
  }

  .correct, .wrong {
    padding-left: 70px;
    background-size: 300px;
  }

  .question {
    width: 100%;
    margin: auto;
    height: 100vh;
  }

  .wrong {
    margin-left: 10px;
    max-width: 1100px;
  }

  .correct {
    max-width: 1100px;
    margin-left: 30px;
  }

  .finalscore {
    font-size: 40px;
  }

  .startOver {
    font-size: 30px;
  }

}

.hide {
  display: none;
}

  