body {
    margin: 20px;
    background-color: lightgrey;
}

.hide {
    display: none;
}

.correct {
    background-image: url("https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rDtN98Qoishumwih/graphicstock-laptop-with-blank-screen-on-table_ruBgYijPxse_SB_PM.jpg");
} 

#start-b {
    margin-bottom: 20px;
}

button {
  background-color: whitesmoke;
}

header { 
    display: flex;
    justify-content: space-between;
     
    border: 1px solid black;
  }
  
  header, #start, #question {
    width: 90%; 
    margin: auto;
  
  }

  label {
      display: block;
  }

  #questions {
      margin-bottom: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    header, #start, #questions { 
      width: 80%;
      margin: auto;
    }
    h1 { font-size: 48px;}
  }
  
  @media only screen and (min-width: 1024px) {
    header, #start, #questions { 
      width: 60%;
      margin: auto;
    }
    h1 { font-size: 60px;}
  }
